/*doc
---
title: Icons
name: icons
category: Components
---

Single color icons are combined into SVG sprites using [SVGStore]().

Multi-color logos are still managed by [Grunticon](http://www.grunticon.com/).

```html_example_table
<a href="#" class="c-link  c-link--button">
More About Serta
<i class="c-icon  c-icon--arrow-right">
<svg>
<use xlink:href="/img/svg/sprites/global.svg#arrow-right"></use>
</svg>
</i>
</a>

<a href="#" class="c-link">
<span class="u-visually-hidden">Serta Always Comfortable<sup>&trade;</sup></span>
<i class="c-icon  c-icon--gray  icon-logo-tagline-below" data-grunticon-embed></i>
</a>
```
*/

.c-icon {
  display: inline-block;
  max-width: 100%;
  background-position: center;
  background-size: contain;
  vertical-align: sub;

  // NOTE: By setting the default fill and stroke to currentColor, you have to
  // make sure that you remove those attributes from your SVGs. Otherwise,
  // this CSS won't affect it (styles for external SVGs are scoped). Also, if
  // you don't want to add a fill or stroke to a particular path then set its
  // fill or stroke to "none".
  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: currentColor;
    stroke: currentColor;
    pointer-events: none;
  }
}



.c-icon--logo {
  width: 130px;
  height: 45px;
}

.c-icon--arrow {
  width: 7px;
  height: 10px;
  vertical-align: baseline;
  margin-left: em(8);
}
