// ------------------------------
// Colors
// ------------------------------

$color-primary: #2c2c2c;
$color-accent: #aaa;

$background-primary: #fff;


// ------------------------------
// Gutters
// ------------------------------

$gutter-sm: 20;
$gutter: 40;
$gutter-md: 60;
$gutter-lg: 94;



// ------------------------------
// Fonts
// ------------------------------

/**
 * Default:
 * Sentinel Light & Light Italic
 * Sentinel Book & Book Italic
 *
 * Display:
 * Tungsten Medium
 */
$font-family: "Sentinel SSm A", "Sentinel SSm B", "Georgia", serif;
$font-family--display: "Tungsten A", "Tungsten B", "AvenirNextCondensed-Bold", HelveticaNeue-CondensedBold, "Futura-CondensedExtraBold", "Ubuntu Condensed", "Liberation Sans Narrow", "Franklin Gothic Demi Cond", "Arial Narrow", sans-serif-condensed, Arial, "Trebuchet MS", Tahoma, "Lucida Grande", sans-serif;

$font-size: 16; // in px

$font-weight: 400;
$font-weight--light: 300;
$font-weight--bold: 600;

// TODO: Make mixins for typography—something like these?
// @mixin font-copy() {}
// @mixin font-copy--light() {}
