@include u-hover('dim', 'is-active') {
  opacity: 0.6;
}



// ------------------------------
// Responsive
// ------------------------------

// Max-width
@include u-hover('dim', 'is-active', 'lt-sm') {
  opacity: 0.6;
}

// Min-width
@include u-hover('dim', 'is-active', 'sm') {
  opacity: 0.6;
}
