@include u-object-fit('cover', cover);
@include u-object-fit('cover-100%', cover) {
  width: 100%;
  height: 100%;
}


// ------------------------------
// Responsive
// ------------------------------

// Max-width
@include u-object-fit('cover', cover, 'lt-sm');
@include u-object-fit('cover-100%', cover, 'lt-sm') {
  width: 100%;
  height: 100%;
}

// Min-width
@include u-object-fit('cover', cover, 'sm');
@include u-object-fit('cover-100%', cover, 'sm') {
  width: 100%;
  height: 100%;
}
