/*doc
---
title: Align Items
name: align-items
category: Utilities
---
## Sass

```scss
// Basic
@include u-align-items('center');

// Responsive
@include u-align-items('center', 'sm');
```

## Markup

### Basic

```html_example
<div class="u-display-flex  /  u-align-items-center">
  <img src="https://placehold.it/100/ff0000/ffffff?text=1" width="100" height="100" alt="Item 1">
  <img src="https://placehold.it/200/00ff00/ffffff?text=2" width="200" height="200" alt="Item 2">
  <img src="https://placehold.it/100/0000ff/ffffff?text=3" width="100" height="100" alt="Item 3">
</div>
```

### Responsive

```html_example
<div class="u-display-flex  /  u-align-items-center@sm">
  <img src="https://placehold.it/100/ff0000/ffffff?text=1" width="100" height="100" alt="Item 1">
  <img src="https://placehold.it/200/00ff00/ffffff?text=2" width="200" height="200" alt="Item 2">
  <img src="https://placehold.it/100/0000ff/ffffff?text=3" width="100" height="100" alt="Item 3">
</div>
```
*/

/**
 * Align-items utility.
 * @param  {String}  $value
 * @param  {String}  $at-breakpoint
 */
@mixin u-align-items($value, $at-breakpoint: null) {
  @include u-property('align-items', $value, $value, $at-breakpoint);
}
