/*doc
---
title: Animation
name: animation
category: Utilities
---
## Sass

```scss
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

// Basic
@include u-animation('fade-in-400ms', 400ms fade-in linear forwards) {
  opacity: 1;
}

// Responsive
@include u-animation('fade-in-400ms', 400ms fade-in linear forwards, 'sm') {
  opacity: 1;
}
```

## Markup

### Basic

```html_example
<img class="u-animation-fade-in-400ms" src="https://placehold.it/100/ff0000/ffffff?text=1" width="100" height="100" alt="Item 1">
```

### Responsive

```html_example
<img class="u-animation-fade-in-400ms@sm" src="https://placehold.it/100/ff0000/ffffff?text=1" width="100" height="100" alt="Item 1">
```
*/

/**
 * Animation utility.
 * @param  {String}  $alias
 * @param  {String}  $value
 * @param  {String}  $at-breakpoint
 */
@mixin u-animation($alias, $value, $at-breakpoint: null) {
  $class-name: 'u-animation-#{$alias}';
  @include breakpoints($class-name, $at-breakpoint) {
    @content;
    animation: #{$value};
  }
}
