/*doc
---
title: Aspect Ratio
name: aspect-ratio
category: Utilities
---
<span class="todo">TODO:</span> Make `btwn` alias for mq (e.g., `u-aspect-ratio--3x2@btwn-sm-and-md`).

## Sass

```scss
// Basic
@include u-aspect-ratio(3, 1);
@include u-aspect-ratio(16, 9);

// Responsive
@include u-aspect-ratio(3, 1, 'sm');
@include u-aspect-ratio(16, 9, 'sm');
```

## Markup

### Basic

```html_example
<div class="u-background-color-gray-1">
  <div class="u-aspect-ratio-16x9"></div>
</div>
```

### Responsive

```html_example
<div class="u-background-color-gray-1">
  <div class="u-aspect-ratio-3x1  u-aspect-ratio-16x9@sm"></div>
</div>
```
*/

/**
 * Aspect ratio utility.
 * @param  {Number}  $width
 * @param  {Number}  $height
 * @param  {String}  $at-breakpoint
 */
@mixin u-aspect-ratio($width, $height, $at-breakpoint: null) {
  $class-name: 'u-aspect-ratio-#{$width}x#{$height}';
  @include breakpoints($class-name, $at-breakpoint) {
    width: 100%;
    height: 0;
    padding: 0 0 percentage($height / $width);
  }
}
