/*doc
---
title: Color
name: color
category: Utilities
---
## Sass

```scss
// Basic
@include u-color('red-1', $color-red-1);

// Responsive
@include u-color('red-1', $color-red-1, 'sm');
```

## Markup

### Basic

```html_example
<p class="u-color-red-1">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
</p>
```

### Responsive

```html_example
<p class="u-color-red-1">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
</p>
```
*/

/**
 * Color utility.
 * @param  {String}  $alias
 * @param  {String}  $value
 * @param  {String}  $at-breakpoint
 */
@mixin u-color($alias, $value, $at-breakpoint: null) {
  @include u-property('color', $alias, $value, $at-breakpoint);
}
