/*doc
---
title: Font Weight
name: font-weight
category: Utilities
---
## Sass

```scss
// Basic
@include u-font-weight('400', 400);
@include u-font-weight('bold', bold);

// Responsive
@include u-font-weight('400', 400, 'sm');
@include u-font-weight('bold', bold, 'sm');
```

## Markup

### Basic

```html_example
<h4 class="u-font-weight-400">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
<p class="u-font-weight-bold@sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
```

### Responsive

```html_example
<h4 class="u-font-weight-400@sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
<p class="u-font-weight-bold@sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
```
*/

/**
 * Font weight utility.
 * @param  {String}  $alias
 * @param  {String}  $value
 * @param  {String}  $at-breakpoint
 */
@mixin u-font-weight($alias, $value, $at-breakpoint: null) {
  @include u-property('font-weight', $alias, $value, $at-breakpoint);
}
