/*doc
---
title: Height
name: height
category: Utilities
---
## Sass

```scss
// Basic
@include u-height('50vh', 50vh);

// Responsive
@include u-height('50vh', 50vh, 'sm');
```

## Markup

### Basic

```html_example
<img class="u-height-50vh" src="https://placehold.it/200/ff0000/ffffff?text=1" width="200" height="200" alt="Item 1">
```

### Responsive

```html_example
<img class="u-height-50vh@sm" src="https://placehold.it/200/ff0000/ffffff?text=1" width="200" height="200" alt="Item 1">
```
*/

/**
 * Height utility.
 * @param  {String}  $alias
 * @param  {String}  $value
 * @param  {String}  $at-breakpoint
 */
@mixin u-height($alias, $value, $at-breakpoint: null) {
  @include u-property('height', $alias, $value, $at-breakpoint);
}
