/*doc
---
title: Line Height
name: line-height
category: Utilities
---
## Sass

```scss
// Basic
@include u-line-height('0.8', 0.8);

// Responsive
@include u-line-height('0.8', 0.8, 'sm');
```

## Markup

### Basic

```html_example
<p class="u-line-height-0.8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita reprehenderit aspernatur, non ratione excepturi et quia recusandae repellendus natus, libero facilis doloremque sint inventore voluptatem, voluptatibus odio sapiente iste officiis.</p>
```

### Responsive

```html_example
<p class="u-line-height-0.8@sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita reprehenderit aspernatur, non ratione excepturi et quia recusandae repellendus natus, libero facilis doloremque sint inventore voluptatem, voluptatibus odio sapiente iste officiis.</p>
```
*/

/**
 * Line-height utility.
 * @param  {String}  $alias
 * @param  {String}  $value
 * @param  {String}  $at-breakpoint
 */
@mixin u-line-height($alias, $value, $at-breakpoint: null) {
  @include u-property('line-height', $alias, $value, $at-breakpoint);
}
