/*doc
---
title: Margin
name: margin
category: Utilities
---
Directions: null, `vertical`, `horizontal`, `top`, `right`, `bottom`, `left`.

## Sass

```scss
// Basic
@include u-margin('horizontal-auto', auto);

// Responsive
@include u-margin('horizontal-auto', auto, 'sm');
```

## Markup

### Basic

```html_example
<img class="u-margin-horizontal-auto" src="https://placehold.it/100/ff0000/ffffff?text=1" width="100" height="100" alt="Item 1">
```

### Responsive

```html_example
<img class="u-margin-horizontal-auto@sm" src="https://placehold.it/100/ff0000/ffffff?text=1" width="100" height="100" alt="Item 1">
```
*/

/**
 * Margin utility.
 * @param  {String}  $alias
 * @param  {String}  $value
 * @param  {String}  $at-breakpoint
 */
@mixin u-margin($alias, $value, $at-breakpoint: null) {
  @include u-property-directional('margin', $alias, $value, $at-breakpoint);
}


@mixin u-fluid-margin($alias, $value, $bp-min: $breakpoint-min, $bp-max: $breakpoint-max) {
  @include fluid-property-directional('margin', $alias, $value, $bp-min, $bp-max);
}
