/*doc
---
title: Pointer Events
name: pointer-events
category: Utilities
---
## Sass

```scss
// Basic
@include u-pointer-events('none');

// Responsive
@include u-pointer-events('none', 'sm');
```

## Markup

### Basic

```html_example
<p class="u-pointer-events-none">
  <a href="javascript:alert('Hello!');">Click me</a>
</p>
```

### Responsive

```html_example
<p class="u-pointer-events-none@sm">
  <a href="javascript:alert('Hello!');">Click me</a>
</p>
```
*/

/**
 * Pointer-events utility.
 * @param  {String}  $value
 * @param  {String}  $at-breakpoint
 */
@mixin u-pointer-events($value, $at-breakpoint: null) {
  @include u-property('pointer-events', $value, $value, $at-breakpoint);
}
