/*doc
---
title: Position
name: position
category: Utilities
---
## Sass

```scss
// Basic
@include u-position('relative', relative);
@include u-position('center', absolute) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Responsive
@include u-position('relative', relative, 'sm');
@include u-position('center', absolute, 'sm') {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
```

## Markup

### Basic

```html_example
<div class="u-position-relative  /  u-height-200">
  <img class="u-position-center" src="http://placehold.it/100/ff0000/ffffff?text=1" width="100" height="100" alt="Item 1">
</div>
```

### Responsive

```html_example
<div class="u-position-relative  /  u-height-200">
  <img class="u-position-center@sm" src="http://placehold.it/100/ff0000/ffffff?text=1" width="100" height="100" alt="Item 1">
</div>
```
*/

/**
 * Position utility.
 * @param  {String}  $alias
 * @param  {String}  $value
 * @param  {String}  $at-breakpoint
 */
@mixin u-position($alias, $value, $at-breakpoint: null) {
  $class-name: 'u-position-#{$alias}';
  @include breakpoints($class-name, $at-breakpoint) {
    @content;
    position: #{$value};
  }
}
