/*doc
---
title: Text Overflow
name: text-overflow
category: Utilities
---
## Sass

```scss
// Basic
@include u-text-overflow('ellipsis');

// Responsive
@include u-text-overflow('ellipsis', 'sm');
```

## Markup

### Basic

```html_example
<p class="u-width-100  /  u-overflow-hidden  /  u-white-space-nowrap  /  u-text-overflow-ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
```

### Responsive

```html_example
<p class="u-width-100  /  u-overflow-hidden  /  u-white-space-nowrap  /  u-text-overflow-ellipsis@sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
```
*/

/**
 * Text-overflow utility.
 * @param  {String}  $value
 * @param  {String}  $at-breakpoint
 */
@mixin u-text-overflow($value, $at-breakpoint: null) {
  @include u-property('text-overflow', $value, $value, $at-breakpoint);
}
