/*doc
---
title: Width
name: width
category: Utilities
---
## Sass

```scss
// Basic
@include u-width('1/1', percentage(1 / 1));
@include u-width('1/2', percentage(1 / 2));

// Responsive
@include u-width('1/1', percentage(1 / 1), 'sm');
@include u-width('1/2', percentage(1 / 2), 'sm');
```

## Markup

### Basic

```html_example
<div class="u-display-flex  /  u-flex-wrap-wrap">
  <img class="u-width-1/2" src="https://placehold.it/200/ff0000/ffffff?text=1" width="200" height="200" alt="Item 1">
  <img class="u-width-1/2" src="https://placehold.it/200/00ff00/ffffff?text=2" width="200" height="200" alt="Item 2">
</div>
```

### Responsive

```html_example
<div class="u-display-flex  /  u-flex-wrap-wrap">
  <img class="u-width-1/1  u-width-1/2@sm" src="https://placehold.it/200/ff0000/ffffff?text=1" width="200" height="200" alt="Item 1">
  <img class="u-width-1/1  u-width-1/2@sm" src="https://placehold.it/200/00ff00/ffffff?text=2" width="200" height="200" alt="Item 2">
</div>
```
*/

/**
 * Width utility.
 * @param  {String}  $alias
 * @param  {String}  $value
 * @param  {String}  $at-breakpoint
 */
@mixin u-width($alias, $value, $at-breakpoint: null) {
  @include u-property('width', $alias, $value, $at-breakpoint);
}
