# editorconfig.org
root = true

[*]
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.php]
indent_size = 4

[*.{html,blade.php}]
indent_size = 2

[*.{js,scss}]
indent_size = 2
