/node_modules
/public/build
/public/css
/public/hot
/public/img
/public/js
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.map
*.build.css
*.build.js
