.c-paper {
  position: relative;
  margin-top: percentage(-4px / 1200px); // Offset for grainy transparency at the top
  z-index: 0;

  &::before {
    position: absolute;
    top: 2em; // Arbitrary height—just needs to start after the transparency at the top of the image
    right: 0;
    bottom: 0;
    left: 0;
    background: url('/img/backgrounds/paper-tile.jpg');
    background-size: percentage(250px / 1200px) auto;
    content: '';
    z-index: -1;
  }
}

.c-paper__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.c-paper__content {
  position: relative;
  z-index: 1;
}

.c-paper--wrinkled,
.c-paper--wrinkled-offset {
  $image-width: 1291px;
  $content-width: 1200px;
  $offset-x: $content-width - $image-width;
  margin-top: percentage(-25px / $image-width);

  .c-paper__image {
    left: percentage($offset-x / $image-width);
    width: percentage($image-width / $content-width);
  }
}

.c-paper--wrinkled-offset {
  .c-paper__image {
    left: 0;
  }
}



// TODO: Make a border-bottom to use with `.c-paper` (base on repeating tile, not main paper graphics)
// .c-paper-border-top {
//   overflow: visible;
//
//   &::before {
//     display: block;
//     position: absolute;
//     top: -10px;
//     left: 0;
//     width: 100%;
//     height: 10px;
//     background: url('/img/border-paper.png') repeat-x bottom center;
//     content: '';
//   }
// }



.c-crease {
  // Center of crease is at 98px out of 235px
  $width: 235;
  $center: 98;
  $offset-x: $width - ($center * 2);
  position: absolute;
  top: 0;
  bottom: 0;
  width: em($width);
  transform: translate(#{-50% - percentage($offset-x / $width / 2)}, 0);
  background: url('/img/textures/crease-light.png') repeat-y top center;
}
.c-crease--strong {
  // Center of crease is at 106px out of 235px
  $width: 235;
  $center: 106;
  $offset-x: $width - ($center * 2);
  transform: translate(#{-50% - percentage($offset-x / $width / 2)}, 0);
  background-image: url('/img/textures/crease-strong.png');
  opacity: 0.45;
}



.c-bg-chalk {
  //background: url('/img/backgrounds/chalk.jpg') center / cover no-repeat;
  background: url('/img/backgrounds/chalk-repeat.jpg');
}
.c-bg-chalk-line {
  &::before {
    position: absolute;
    top: 0;
    left: #{-$gutter-md}px;
    width: 50px;
    height: calc(100% + 110px);
    background: url('/img/backgrounds/chalk-line.png') top center repeat-y;
    content: '';
  }
}
