/**
 * Clear floated elements.
 * @see https://css-tricks.com/snippets/css/clear-fix/
 */
@mixin clearfix {
  &::after {
    display: table;
    clear: both;
    content: '';
    // Someday… 🙏
    // @see http://caniuse.com/#feat=flow-root
    // display: flow-root;
  }
}
