/**
 * Polyfill object-fit and object-position.
 * Values: `fill`, `contain`, `cover`, `none`, `scale-down`.
 * @note Requires polyfill for IE and Edge.
 * @see https://caniuse.com/#feat=object-fit
 * @see https://github.com/aFarkas/lazysizes/tree/gh-pages/plugins/object-fit
 * @see https://github.com/bfred-it/object-fit-images
 * @param  {String}  $value
 */
@mixin object-fit($value) {
  object-fit: #{$value};
  font-family: 'object-fit: #{$value};';
}
