@mixin css-reset {
  // ------------------------------
  // Universal Rules
  // ------------------------------

  /**
   * Reset box-model for everything
   */
  * {
    margin: 0;
    padding: 0;

    &,
    &::before,
    &::after {
      box-sizing: border-box;
    }
  }

  html {
    @include font-smoothing();
    min-height: 100%;
    // scss-lint:disable VendorPrefix
    -webkit-text-size-adjust: 100%;                // Prevent mobile browsers from automatically zooming fonts.
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: -ms-autohiding-scrollbar;  // Autohide scrollbar in Internet Explorer
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // Reset iOS highlight color
    -webkit-backface-visibility: hidden;
    // scss-lint:enable VendorPrefix
  }



  // ------------------------------
  // Block Elements
  // ------------------------------

  figure {
    margin: 0; // Reset normalize's `figure` margins
  }

  ol,
  ul {
    list-style: none;
  }



  // ------------------------------
  // Inline Elements
  // ------------------------------

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  svg {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
  }

  address,
  cite {
    font-style: normal;
  }

  // TODO: Default link hover
  // a {
  //   display: inline-block;
  //   text-decoration: none;
  //   vertical-align: middle;
  //
  //   p & {
  //     color: inherit;
  //     text-decoration: underline;
  //     vertical-align: baseline;
  //   }
  // }



  // ------------------------------
  // Miscellaneous
  // ------------------------------

  // // Remove text-shadow in selection highlight:
  // // https://twitter.com/miketaylr/status/12228805301
  // ::selection {
  //   background: #b3d4fc;
  //   text-shadow: none;
  // }
}
