/* Example Use:

  <label class="c-radio">
    <input type="radio" class="c-radio__input" name="form_field[]" value="form_value">
    <span class="c-radio__box"></span>
    <span class="c-radio__copy">Label</span>
  </label>

*/

.c-radio {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  cursor: pointer;

  @include hover {
    .c-radio__box {
      border-color: $blue-4;
    }
  }
}

.c-radio__input {
  display: none;

  &:checked + .c-radio__box {
    border-color: $blue-4;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      background: $blue-4;
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }
  }
}

.c-radio__box {
  display: inline-block;
  position: relative;
  flex: 0 0 auto;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid $gray-border;
  background: center / 10px 10px no-repeat;
  vertical-align: middle;
}

// Keep multiline labels from breaking into a new line
.c-radio__copy {
  padding-right: em(8, 13);
  padding-left: em(8, 13);
  font-size: em(13);
  letter-spacing: tracking(60);
  user-select: none;
}
