// Colors
$gray-border: #e6e6e6;


// Typography
$font-sans: '', helvetica, sans-serif; // 300, 700
$font-serif: '', Georgia, serif; // 300, 400, 400 italic


// Gutters
$gutter-xxs: em(5);
$gutter-xs: em(10);
$gutter-sm: em(20);
$gutter: em(30);
$gutter-md: em(40);
$gutter-lg: em(50);
$gutter-xl: em(60);
$gutter-xxl: em(70);
