// Align Items
.u-align-items-baseline {
  align-items: baseline;
}
.u-align-items-center {
  align-items: center;
}
.u-align-items-stretch {
  align-items: stretch;
}
.u-align-items-flex-end {
  align-items: flex-end;
}
.u-align-items-flex-start {
  align-items: flex-start;
}
.u-align-items-flex-start\@md {
  @include mq('md') {
    align-items: flex-start;
  }
}


// Align Self
.u-align-self-start {
  align-self: flex-start;
}
.u-align-self-center {
  align-self: center;
}


// Justify Content
.u-justify-content-center {
  justify-content: center;
}
.u-justify-content-between {
  justify-content: space-between;
}
.u-justify-content-flex-end {
  justify-content: flex-end;
}


// Flex Direction
.u-direction-col {
  flex-direction: column;
}
.u-direction-col\@md {
  @include mq('md') {
    flex-direction: column;
  }
}
.u-direction-col-reverse\@lt-sm {
  @include mq('lt-sm') {
    flex-direction: column-reverse;
  }
}
.u-direction-col-reverse\@lt-md {
  @include mq('lt-md') {
    flex-direction: column-reverse;
  }
}
.u-direction-row {
  flex-direction: row;
}
.u-direction-row\@sm {
  @include mq('sm') {
    flex-direction: row;
  }
}


// Flex Wrap
.u-flex-wrap\@lt-sm {
  @include mq('lt-sm') {
    flex-wrap: wrap;
  }
}

.u-flex-wrap\@lt-md {
  @include mq('lt-md') {
    flex-wrap: wrap;
  }
}

.u-flex-nowrap\@md {
  @include mq('md') {
    flex-wrap: nowrap;
  }
}


// Flex
.u-flex-1 {
  flex: 1;
}
.u-flex-1\@lt-md {
  @include mq('lt-md') {
    flex: 1;
  }
}
.u-flex-1\@md {
  @include mq('md') {
    flex: 1;
  }
}
.u-flex-1\@lg {
  @include mq('lg') {
    flex: 1;
  }
}
.u-flex-2 {
  flex: 2;
}
.u-flex-2\@lg {
  @include mq('lg') {
    flex: 2;
  }
}
.u-flex-3 {
  flex: 3;
}
.u-flex-4\@md {
  @include mq('md') {
    flex: 4;
  }
}
.u-flex-5\@md {
  @include mq('md') {
    flex: 5;
  }
}
.u-flex-10\@md {
  @include mq('md') {
    flex: 10;
  }
}
.u-flex-none\@lg {
  @include mq('lg') {
    flex: none;
  }
}
// TODO: Better naming for this?
.u-flex-grow {
  flex: 1 1 auto;
}
