.u-margin-left-auto {
  margin-left: auto;
}

.u-margin-0-auto {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.u-margin-0 {
  margin: 0;
}


// all around
@include u-margin('', $gutter);

// vertical
@include u-margin('vertical-xs', $gutter-xs);
@include u-margin('vertical-sm', $gutter-sm);
@include u-margin('vertical', $gutter);
@include u-margin('vertical-md', $gutter-md);
@include u-margin('vertical-lg', $gutter-lg);

// horizontal
@include u-margin('horizontal-xs', $gutter-xs);
@include u-margin('horizontal-sm', $gutter-sm);
@include u-margin('horizontal', $gutter);
@include u-margin('horizontal-md', $gutter-md);
@include u-margin('horizontal-lg', $gutter-lg);

// top
@include u-margin('top-xs', $gutter-xs);
@include u-margin('top-sm', $gutter-sm);
@include u-margin('top', $gutter);
@include u-margin('top-md', $gutter-md);
@include u-margin('top-lg', $gutter-lg);

// top responsive
//@include u-margin('top-xs', $gutter-xs, 'lt-md');

// right
@include u-margin('right-xs', $gutter-xs);
@include u-margin('right-sm', $gutter-sm);
@include u-margin('right', $gutter);
@include u-margin('right-md', $gutter-md);
@include u-margin('right-lg', $gutter-lg);

// right responsive
//@include u-margin('right-xs', $gutter-xs, 'lt-md');

// bottom
@include u-margin('bottom-xs', $gutter-xs);
@include u-margin('bottom-sm', $gutter-sm);
@include u-margin('bottom', $gutter);
@include u-margin('bottom-md', $gutter-md);
@include u-margin('bottom-lg', $gutter-lg);

// bottom responsive
//@include u-margin('bottom-xs', $gutter-xs, 'lt-md');

// left
@include u-margin('left-xs', $gutter-xs);
@include u-margin('left-sm', $gutter-sm);
@include u-margin('left', $gutter);
@include u-margin('left-md', $gutter-md);
@include u-margin('left-lg', $gutter-lg);

// left responsive
//@include u-margin('left-xs', $gutter-xs, 'lt-md');
