/**
 * Padding utilities
 *
 * TODOs:
 * - Base padding an a map of dimensions, similar to $breakpoints
 *
 * @param  {String}  $alias
 * @param  {Number}  $size
 * @param  {String}  $at-breakpoint
 */
@mixin u-padding($alias, $size, $at-breakpoint: null) {
  // Vars
  $class-name: 'u-padding';
  $directions: (
    'vertical',
    'horizontal',
    'top',
    'right',
    'bottom',
    'left'
  );
  $direction: null;



  $alias-parts: explode($alias, '-');

  @if (not $alias) {

    // ?

  // If alias has 1 part, then it's either a direction or an alias
  // (Could be direction if alias is blank; meant to be the default value)
  } @else if (length($alias-parts) == 1) {
    @each $temp-direction in $directions {
      @if not $direction and $temp-direction == nth($alias-parts, 1) {
        $direction: $temp-direction;
      }
    }
    @if not $direction {
      $alias: nth($alias-parts, 1);
    } @else {
      $alias: '';
    }
  // If alias is 2 parts, then first is direction and second is alias
  } @else if (length($alias-parts) == 2) {
    $direction: nth($alias-parts, 1);
    $alias: nth($alias-parts, 2);
  }



  // Update class name
  @if ($direction and str-length($direction) > 0) {
    $class-name: '#{$class-name}-#{$direction}';
  }
  // If alias was given, append it to the default class name
  // (Allows default gutter to be used instead of custom size)
  // ... which now that I think of it is stupid. All values should have an alias, just like our responsive utility.
  // TODO: Refactor values as maps
  @if ($alias and str-length($alias) > 0) {
    $class-name: '#{$class-name}-#{$alias}';
  }



  @include breakpoints($class-name, $at-breakpoint) {
    // TODO: Should padding be unitless or not?
    // padding: em($size);

    @if ($direction == 'vertical') {
      padding-top: $size;
      padding-bottom: $size;
    } @else if ($direction == 'horizontal') {
      padding-right: $size;
      padding-left: $size;
    } @else if ($direction) {
      padding-#{$direction}: $size;
    } @else {
      padding: $size;
    }
  }
}

// Examples:

// NOTE: Keep breakpoint modifiers below defaults so they always override them
// @include u-padding('horizontal', $gutter);
