// Use regex to find stray colors in the project's Sass:
// #[a-zA-Z0-9]+

$color-black-1: #000;
$color-white-1: #fff;

$color-gray-1: #827a70;
$color-gray-2: #a7a49e;
$color-gray-3: #cdc9c3;
$color-gray-4: #e0e0e0;
