$gutter-xxs : 0.5rem !default;
$gutter-xs  : 1rem !default;
$gutter-sm  : 2rem !default;
$gutter     : 3rem !default;
$gutter-md  : 4rem !default;
$gutter-lg  : 5rem !default;
$gutter-xl  : 6rem !default;
