// Family
$font-family           : serif !default;
$font-family--display  : sans-serif !default;

// Size
$font-size: 16 !default; // in px

// Weight
$font-weight--light    : 300 !default;
$font-weight           : 400 !default;
$font-weight--medium   : 500 !default;
$font-weight--semibold : 600 !default;
$font-weight--bold     : 700 !default;
