/*doc
---
title: Examples
name: examples
category: Examples
---
<section class="u-margin-bottom-sm">
  <h3 class="u-margin-bottom-xs  /  u-color-gray-1  /  u-font-size-100%">
    Color and White-Space
  </h3>
  <p class="u-margin-bottom-sm">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi unde <span class="u-color-red-1  /  u-white-space-nowrap">rerum alias</span> veritatis ducimus? Placeat nesciunt commodi quaerat, nobis <span class="u-color-red-1  /  u-white-space-nowrap">doloremque vero</span> temporibus eius explicabo nam ad nisi numquam. <span class="u-color-red-1  /  u-white-space-nowrap">Explicabo, tenetur!</span>
  </p>
</section>

<section class="u-margin-bottom-sm">
  <h3 class="u-margin-bottom-xs  /  u-color-gray-1  /  u-font-size-100%">
    Display
  </h3>
  <p class="u-display-none@lt-md  /  u-margin-bottom-sm">
    Visible on desktop.
  </p>
  <p class="u-display-none@md  /  u-margin-bottom-sm">
    Visible on mobile.
  </p>
</section>

<section class="u-margin-bottom-sm">
  <h3 class="u-margin-bottom-xs  /  u-color-gray-1  /  u-font-size-100%">
    Flex
  </h3>
  <div class="u-display-flex  /  u-flex-wrap-nowrap  /  u-align-items-center">
    <p class="u-flex-0  /  u-padding-right-sm">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
    <p class="u-flex-1">
      Quae dolor dolore et, soluta vel officiis aliquid voluptate! Quas expedita rerum ab molestias enim doloribus. Accusantium nobis architecto, quas ratione ex.
    </p>
  </div>
</section>

<section class="o-grid  o-grid--gutters">
  <h3 class="o-grid__item  /  u-width-1/1  /  u-margin-bottom-xs  /  u-color-gray-1  /  u-font-size-100%">
    Grids
  </h3>
  <p class="o-grid__item  u-width-1/1  u-width-1/2@md  /  u-margin-bottom-sm">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque sapiente deleniti, pariatur dolorem harum incidunt quo esse animi excepturi tempore exercitationem alias aliquid delectus ab velit! In officia amet quisquam.
  </p>
  <p class="o-grid__item  u-width-1/1  u-width-1/2@md  /  u-margin-bottom-sm">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque sapiente deleniti, pariatur dolorem harum incidunt quo esse animi excepturi tempore exercitationem alias aliquid delectus ab velit! In officia amet quisquam.
  </p>
</section>
*/
