/*doc
---
title: List Borders
name: list-borders
category: Objects
---
<span class="todo">TODO:</span> Allow directional gutters (e.g., `all`, `horizontal`, or `vertical`).

## Sass

```scss
// Basic
@include o-list--borders('', 1px solid $color-gray-3);

// Responsive
@include o-list--borders('', 1px solid $color-gray-3, 'sm');
```

## Markup

### Basic

```html_example
<ul class="o-list  o-list--borders">
  <li class="o-list__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
  <li class="o-list__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
  <li class="o-list__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
</ul>
```

### Responsive

```html_example
<ul class="o-list  o-list--borders@sm">
  <li class="o-list__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
  <li class="o-list__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
  <li class="o-list__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
</ul>
```
*/

/**
 * Block list separated by borders.
 * @param  {String}  $at-breakpoint
 */
@mixin o-list--borders($alias, $value, $at-breakpoint: null) {
  $class-name: 'o-list--borders';

  @if ($alias and str-length($alias) > 0) {
    $class-name: '#{$class-name}-#{$alias}';
  }

  @include breakpoints($class-name, $at-breakpoint) {
    > .o-list__item:not(:first-child) {
      border-top: #{$value};
    }
  }
}
