/**
 * Bulleted list.
 * @param  {String}  $at-breakpoint
 *
 * ## Sass
 *
 * ```scss
 * @include o-list--bullets();
 * @include o-list--bullets('sm');
 * ```
 *
 * ## Markup
 *
 * ```html
 * <ul class="o-list  o-list--bullets">
 *   <li class="o-list__item">
 *     List Item Content
 *   </li>
 *   <li class="o-list__item">
 *     List Item Content
 *   </li>
 * </ul>
 * ```
 */
@mixin o-list--bullets($at-breakpoint: null) {
  @include breakpoints('o-list--bullets', $at-breakpoint) {
    $margin: 1em;

    > .o-list__item {
      position: relative;
      margin-left: $margin;

      &::before {
        position: absolute;
        top: -2px;
        left: -$margin;
        content: '• ';
      }
    }
  }
}
