/**
 * Inline list separated by commas.
 * @param  {String}  $at-breakpoint
 *
 * ## Sass
 *
 * ```scss
 * @include o-list--commas();
 * @include o-list--commas('sm');
 * ```
 *
 * ## Markup
 *
 * ```html
 * <ul class="o-list  o-list--commas">
 *   <li class="o-list__item">
 *     List Item Content
 *   </li>
 *   <li class="o-list__item">
 *     List Item Content
 *   </li>
 * </ul>
 * ```
 */
@mixin o-list--commas($at-breakpoint: null) {
  @include breakpoints('o-list--commas', $at-breakpoint) {
    > .o-list__item {
      display: inline-block;
    }
    > .o-list__item:not(:last-child)::after {
      margin-left: -2px;
      content: ', ';
    }
  }
}
