/*doc
---
title: List Comma
name: list-comma
category: Objects
---
## Sass

```scss
// Basic
@include o-list--comma();

// Responsive
@include o-list--comma('sm');
```

## Markup

### Basic

```html_example
<ul class="o-list  o-list--comma">
  <li class="o-list__item">Lorem</li>
  <li class="o-list__item">Ipsum</li>
  <li class="o-list__item">Dolor</li>
</ul>
```

### Responsive

```html_example
<ul class="o-list  o-list--comma@sm">
  <li class="o-list__item">Lorem</li>
  <li class="o-list__item">Ipsum</li>
  <li class="o-list__item">Dolor</li>
</ul>
```
*/

/**
 * Inline list separated by commas.
 * @param  {String}  $at-breakpoint
 */
@mixin o-list--comma($at-breakpoint: null) {
  @include breakpoints('o-list--comma', $at-breakpoint) {
    > .o-list__item {
      display: inline-block;
    }
    > .o-list__item:not(:last-child)::after {
      content: ',';
    }
  }
}
