/*doc
---
title: List
name: list
category: Objects
---
## Sass

```scss
// Basic
@include o-list();
@include o-list__item();

// Responsive
@include o-list('sm');
```

## Markup

### Basic

```html_example
<ul class="o-list">
  <li class="o-list__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
  <li class="o-list__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
  <li class="o-list__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
</ul>
```

### Responsive

```html_example
<ul class="o-list@sm">
  <li class="o-list__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
  <li class="o-list__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
  <li class="o-list__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
</ul>
```
*/

/**
 * List object.
 * @param  {String}  $at-breakpoint
 */
@mixin o-list($at-breakpoint: null) {
  @include breakpoints('o-list', $at-breakpoint) {
    padding-left: 0;
  }
}

/**
 * List object item.
 * @param  {String}  $at-breakpoint
 */
@mixin o-list__item($at-breakpoint: null) {
  @include breakpoints('o-list__item', $at-breakpoint) {
    break-inside: avoid;
  }
}



// ------------------------------
// Modifiers
// ------------------------------

@import 'borders';
@import 'bullets';
@import 'commas';
@import 'disc';
@import 'inline';
@import 'leading-zero';
@import 'numbers';
@import 'roman';
@import 'slashes';
