/*doc
---
title: List Numbers
name: list-numbers
category: Objects
---
## Sass

```scss
// Basic
@include o-list--numbers();

// Responsive
@include o-list--numbers('sm');
```

## Markup

### Basic

```html_example
<ol class="o-list  o-list--numbers">
  <li class="o-list__item"><span class="o-list__counter"></span> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
  <li class="o-list__item"><span class="o-list__counter"></span> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
  <li class="o-list__item"><span class="o-list__counter"></span> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
</ol>
```

### Responsive

```html_example
<ol class="o-list  o-list--numbers@sm">
  <li class="o-list__item"><span class="o-list__counter"></span> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
  <li class="o-list__item"><span class="o-list__counter"></span> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
  <li class="o-list__item"><span class="o-list__counter"></span> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
</ol>
```
*/

/**
 * Numbered list.
 * @param  {String}  $at-breakpoint
 */
@mixin o-list--numbers($at-breakpoint: null) {
  @include breakpoints('o-list--numbers', $at-breakpoint) {
    > .o-list__item {
      counter-increment: list-numbers;
    }

    .o-list__counter::before {
      display: inline-block;
      content: counter(list-numbers) '. ';
    }
  }
}
