/**
 * Inline list separated by slashes.
 * @param  {String}  $at-breakpoint
 *
 * ## Sass
 *
 * ```scss
 * @include o-list--slashes();
 * @include o-list--slashes('sm');
 * ```
 *
 * ## Markup
 *
 * ```html
 * <ul class="o-list  o-list--slashes">
 *   <li class="o-list__item">
 *     List Item Content
 *   </li>
 *   <li class="o-list__item">
 *     List Item Content
 *   </li>
 *   <li class="o-list__item">
 *     List Item Content
 *   </li>
 * </ul>
 * ```
 */
@mixin o-list--slashes($at-breakpoint: null) {
  @include breakpoints('o-list--slashes', $at-breakpoint) {
    > .o-list__item {
      display: inline-block;
      vertical-align: middle;
    }
    > .o-list__item:not(:last-child)::after {
      content: '/';
    }
  }
}
