// ------------------------------
// Home
// ------------------------------

.c-home-intro {
  @include mq('lt-md') {
    max-height: em(700);
  }
}
.c-home-intro__logo {
  @include mq('sm') {
    max-width: 70%;
  }
}



// TODO: Use responsive images for these background images. Otherwise, a mixin to handle media queries
  // Note: The other background properties (size, repeat, etc) are already taken care of by `.o-section`
.c-home-intro {
  background-image: url('/img/views/home/intro.jpg');
}
.c-home-events {
  background-image: url('/img/views/home/events__bg.jpg');

  @include mq('lt-md') {
    background-position: right center;
  }
}
.c-home-catering {
  background: url('/img/views/home/catering__bg.jpg') center / cover no-repeat;
}



.c-home-food {
  @include overlay-bg(1200px, 717px, 116px, 'bottom', true);

  // HACK: Max-width for section copy
  .c-copy {
    max-width: em(280, 18);
  }
}
.c-home-testimonials {
  @include overlay-bg(1200px, 693px, 155px, 'top', true);

  @include mq('lt-md') {
    background: url('/img/backgrounds/slate.jpg') center / cover no-repeat #3f4448;

    .o-zorro-svg__image {
      display: none;
    }
  }
}



// TODO: Create separate type components/utilities for these styles
.c-home-events {
  .c-heading {
    margin-bottom: em(13, 18);
  }
  .c-heading--md {
    font-size: em(29);
    letter-spacing: tracking(40);
  }
}

.c-home-events__event {
  margin-bottom: em($gutter-sm);

  &:not(:last-child) {
    @include mq('650') {
      padding-right: em($gutter);
    }
  }
}



// TODO: Mobile paper background for Announcements section
// .c-home-announcements {
// }
.c-home-announcements__paper {
  position: absolute;
  top: 0;
  left: 0;

  @include mq('650') {
    // Position from left to crop background; switch to right at larger sizes
    // Note: This positioning is entirely based on the document's `font-size`
    left: 50%;
    height: 101%;
  }
  @include mq('md') {
    right: 0;
    left: auto;
  }
  @media (min-width: em(850, 16)) {
    width: percentage(555px / 1200px);
    // Use `min-height` instead of `height` to fix bug in Safari 8
    height: auto;
    min-height: 101%;
  }
  @include mq('xl') {
    width: auto;
    min-width: percentage(555px / 1200px);
    height: auto;
    min-height: initial;
  }
}
.c-home-announcements__paper-bg {
  display: flex;
  position: relative;
  align-items: flex-end;
  // TODO: Better alignment than padding
  padding: 3.5em 2.5em;

  @include mq('650') {
    padding: 3.5em 2em;
  }
  @include mq('md') {
    padding: 8em 4.7em 4em;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #bb9c76;
    content: '';

    @include mq('lt-650') {
      // TODO: Transparent image
      background: url('/img/svg-mask/home-announcements__bg@lt-650.jpg') top center / 100% auto no-repeat #bb9c76;
    }
  }
}



// TODO: Either make separate utility for this padding, or use the `overlay-bg` mixin to handle aspect ratio.
.c-home-catering {
  @include mq('md') {
    padding-top: em(180);
    padding-bottom: em(180);
  }
}



.c-quote {
  @include mq('md') {
    max-width: em(220, 14);
  }
}
