// Family
$font-family           : serif;
$font-family--display  : sans-serif;

// Size
$font-size: 16; // in px

// Weight
$font-weight--light    : 300;
$font-weight           : 400;
$font-weight--medium   : 500;
$font-weight--semibold : 600;
$font-weight--bold     : 700;
