/*
# Grids

## Basic Module

- `.o-grid`
- `.o-grid__item`

## Grid Types

- `.o-grid--flex`
- `.o-grid--float`
- `.o-grid--table`

*/



// ------------------------------
// Mixins
// ------------------------------

/**
 * Reverse grid.
 * @param  {String}  $at-breakpoint
 */
@mixin o-grid--reverse($at-breakpoint: null) {
  $class-name: 'o-grid--reverse';
  @include breakpoints($class-name, $at-breakpoint) {
    flex-direction: row-reverse;
  }
}

// Examples:
// @include o-grid--reverse();
// @include o-grid--reverse('sm');

/**
 * Grid with horizontal gutters.
 *
 * TODO: Add vertical option. Maybe direction aliases like padding and margin?
 *
 * @param  {String}  $alias
 * @param  {Number}  $size
 * @param  {String}  $at-breakpoint
 */
@mixin o-grid--gutters($alias, $size, $at-breakpoint: null) {
  $class-name: 'o-grid--gutters';

  @if ($alias and str-length($alias) > 0) {
    $class-name: '#{$class-name}-#{$alias}';
  }

  @include breakpoints($class-name, $at-breakpoint) {
    margin-right: 0;
    margin-left: -$size;

    > .o-grid__item {
      padding-right: 0;
      padding-left: $size;
    }
  }
}

// Examples:
// @include o-grid--gutters('sm', $gutter-sm);
// @include o-grid--gutters('sm', $gutter-sm, 'md');



// ------------------------------
// Basic Module
// ------------------------------

.o-grid {
  @extend .o-grid--flex;
}

.o-grid__item {
  display: block;
  position: relative;
}



// ------------------------------
// Grid Types
// ------------------------------

/**
 * Flex Grid
 */
.o-grid--flex {
  display: flex;
  flex-direction: horizontal;
  flex-wrap: wrap;
  align-items: stretch;
}



/**
 * Float Grid
 */
.o-grid--float {
  @include clearfix;
  display: block;

  > .o-grid__item {
    float: left;
  }
}



/**
 * Table Grid
 */
.o-grid--table {
  display: table;
  width: 100%;
  table-layout: fixed;

  > .o-grid__item {
    display: table-cell;
  }
}
