/*doc
---
title: Media
name: media
category: Objects
---

## Sass

```scss
// Basic
@include o-media();
@include o-media__figure();
@include o-media__body();

// Responsive
@include o-media('sm');
```

## Markup

### Basic

```html_example
<div class="o-media  /  u-align-items-center">
  <figure class="o-media__figure  /  u-padding-right-sm">
    <img src="https://placehold.it/100/ff0000/ffffff?text=1" width="100" height="100" alt="Item 1">
  </figure>
  <p class="o-media__body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </p>
</div>
```

### Responsive

```html_example
<div class="o-media@sm  /  u-align-items-center">
  <figure class="o-media__figure  /  u-padding-right-sm@sm">
    <img src="https://placehold.it/100/ff0000/ffffff?text=1" width="100" height="100" alt="Item 1">
  </figure>
  <p class="o-media__body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </p>
</div>
```
*/

/**
 * Flexible media objects.
 * @see https://philipwalton.github.io/solved-by-flexbox/demos/media-object/
 * @param  {String}  $at-breakpoint
 */
@mixin o-media($at-breakpoint: null) {
  @include breakpoints('o-media', $at-breakpoint) {
    display: flex;
    align-items: flex-start;
  }
}

/**
 * Media object figure.
 * @param  {String}  $at-breakpoint
 */
@mixin o-media__figure($at-breakpoint: null) {
  @include breakpoints('o-media__figure', $at-breakpoint) {
    flex: 0 1 auto;
  }
}

/**
 * Media object body.
 * @param  {String}  $at-breakpoint
 */
@mixin o-media__body($at-breakpoint: null) {
  @include breakpoints('o-media__body', $at-breakpoint) {
    flex: 1 1 auto;
  }
}
